@{
    Layout = "_LayoutHome";

}
<div class="lm-container">

    <div class="input-group mb-3 w-25">

        <div class="input-group-prepend">
            <span class="input-group-text h-100"> <i class="fa-solid fa-magnifying-glass"></i> </span>
        </div>
        <input type="text" class="form-control shadow-none search" placeholder="Cerca la tua pizza...">

    </div>

    <div class="row card-container"></div>
</div>



<script>

    getPizzas("");

    document.querySelector(".search").addEventListener("keyup", findPizza);

    function findPizza(){
            if (event.key === "Enter"){

            nameSearched = this.value.trim()

            getPizzas(nameSearched);
        }

    }
           

    let arrayPizza = null;

    function getPizzas(nameToFind) {

        @* Faccio chiamata axios*@

            const apiUrl = "/api/pizza/get"

            axios.get(apiUrl, {
                params: {
                pizzaName: nameToFind
                }
            })
                .then((res) => {

                    arrayPizza = res.data;

                    document.querySelector('.card-container').innerHTML = "";


                    arrayPizza.forEach(pizza => {
                
                        let ingredients = "";

                        for (let i = 0; i < pizza.ingredients.length; i++) {

                            ingredients += "<li> <small>" + pizza.ingredients[i].name + "</small> </li>";
                        }


                        document.querySelector(".card-container").innerHTML +=

                        ` <div class=" col-2">
                            <div class="card">

                                <a href="/home/detail/${pizza.pizzaId}"><img class="card-img-top" src="${pizza.image}" alt="${pizza.name}" title="${pizza.name}"></a>

                                <div class="card-body">

                                    <h5 class="card-title">${pizza.name}</h5>
                                    <p class="card-text">${pizza.description}</p>
                                    <p class="card-text">${pizza.price.toFixed(2)}</p>

                                     <div class="ingredients"><ul> ${ingredients} </ul></div>

                               </div>

                            </div>
                        </div>`

                    })

                })
                .catch((e) => {
                    console.log(e.message)
                })
        }

        
    </script>