@{
    Layout = "_layoutBasic";

    }


<div class="detail-container d-flex justify-content-center my-5">
    <div class="pizza-info"></div>
    <div class="pizza-image"></div>
 
</div>

<script>

    const apiUrl = "/api/pizza/dettaglio"
    let id = window.location.pathname.split('/')[3]
    //console.log(@ViewData["pizzaId"])

    axios.get(apiUrl, {
        params: {
            id: id
        }
    })
    .then((res) => {

        const pizza = res.data;
     
        //console.log(res.data)

            document.querySelector(".pizza-info").innerHTML += `

                  
                    <h5 class="card-title">${pizza.name}</h5>
                    <p class="card-text">${pizza.description}</p>

                    <p class="card-text"><small>${pizza.category.name}</small></p>

                    <p class="card-text">&euro; ${pizza.price.toFixed(2)} </p>
                    <a href="/home/menu" class="btn btn-warning w-100">Indietro</a>
            `


        document.querySelector(".pizza-image").innerHTML += 
        
        ` <img class="card-img-top" src="${pizza.image}" alt="${pizza.name}"> `
    })

</script>